language: c
compiler:
 - clang
 - gcc
script: export HB_COMPILER=$CC && make
before_install:
 - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
 - sudo apt-get update -qq
 - if [ "$CC" == "gcc" ]; then sudo apt-get install -qq -m gcc-4.8 g++-4.8; export HB_CCSUFFIX=-4.8; fi
 - sudo apt-get install -qq -m firebird2.1-dev
 - sudo apt-get install -qq -m liballegro4.2-dev
 - sudo apt-get install -qq -m libcairo2-dev
 - sudo apt-get install -qq -m libcups2-dev
 - sudo apt-get install -qq -m libcurl4-openssl-dev
 - sudo apt-get install -qq -m libfreeimage-dev
 - sudo apt-get install -qq -m libgd2-xpm-dev
 - sudo apt-get install -qq -m libgpm-dev
 - sudo apt-get install -qq -m libgs-dev
 - sudo apt-get install -qq -m libmagic-dev
 - sudo apt-get install -qq -m libmysqlclient15-dev
 - sudo apt-get install -qq -m libncurses-dev
 - sudo apt-get install -qq -m libpq-dev
 - sudo apt-get install -qq -m libslang2-dev
 - sudo apt-get install -qq -m unixodbc-dev
notifications:
 email: false
git:
 submodules: false
env:
 global:
 # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
 #   via the "travis encrypt" command using the project repo's public key
 - secure: "UK9j6Rn8zk1XFE9QHs+5OGXaj8I9ZfhFx0k0kKJabciNYB8HdnIYesT24Lz1PRjAk20ftBtehZreGhiTqMLHRXbhNysWmLdONG9o+iMOqxmI9Qr3jpQg2rluejuX4UXXV8a+RMNUemm6ZSiO5NQCCrcbRwtZLcrje2b8D06/Nfk="
addons:
 coverity_scan:
  project:
   name: "vszakats/harbour-core"
   description: "Build submitted via Travis CI"
  build_command_prepend: "make clean"
  build_command: "make -j 2"
  branch_pattern: coverity_scan
