/* Harbour Documentation Stylesheet */

@charset "UTF-8";

body {
	font-size: 14px;
	font-family: arial;
	line-height: 18px;
}

.name {
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 4px;
	font-weight: bold;
	font-size: 18px;
}

.oneliner {
	margin-bottom: 12px;
	font-style: italic;
}

.itemtitle {
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 4px;
	font-weight: bold;
}

.itemtext {
	margin-left: 10px;
	padding-bottom: 4px;
}

.examples {
	margin-left: 10px;
	padding-bottom: 4px;
}

.tests {
	margin-left: 10px;
	padding-bottom: 4px;
}
