body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 4px;
}

.oneliner {
  font-style: italic;
  margin-bottom: 12px;
}

.itemtitle {
  font-weight: bold;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 4px;
}

.itemtext {
  margin-left: 10px;
  padding-bottom: 4px;
}

.examples {
  margin-left: 10px;
  padding-bottom: 4px;
}

.tests {
  margin-left: 10px;
  padding-bottom: 4px;
}
