#if !( defined( OS2 ) || defined( __OS2__ ) || defined( OS_2 ) )
#if ! defined( __BORLANDC__ )
1 ICON DISCARDABLE "../../package/harbour.ico"
#endif
#include "../../package/harbour.rc"
__HB_CREATEPROCESS_MANIFEST_RESOURCE_ID __HB_RT_MANIFEST "../../package/harbour.mft"
#endif
