/build
/build-dev
/src/exemplo
/src/hello
/tests/cuademo/gtnap_cualib/exemplo
/tests/cuademo/gtnap_cualib/exemplo.app
/tools/build
/tests/unotest/test.pdf

!/src/debugger/res/Application.manifest
!/tests/cuademo/Application.manifest
