@charset "UTF-8";

body, td {
	font-size: 13px;
	font-family: Arial, sans-serif;
}

table.ubr {
	font-size: 13px;
	font-family: Arial, sans-serif;
	border-width: 1px;
}

table.ubr th {
	padding: 0px 4px 0px 4px;
	background-color: #c0c0c0;
}

table.ubr tr {
	background-color: #f0f0f0;
}

table.ubr tr:hover {
	background-color: #d0d0ff;
}

tr.ubrr div {
	overflow: hidden;
	width: auto;
	white-space: nowrap;
}

ulnk {
	text-decoration: underline;
	text-color: blue;
}
