@charset "UTF-8";

body { color:black; font-size:10pt; font-family:Tahoma,Helvetica,Arial; }

a.pageSection:link { color: #ff0000; }
a.pageSection:visited { color: #0000ff; }
a.pageSection:hover { background: #66ff66; }

/* a:link { color: #ff0000; } */
/* a:visited { color: #0000ff; } */
/* a:hover { background: #66ff66; } */

A {
	color: #0000FF;
	text-decoration: none;
}

A:hover      { color: #6699cc; text-decoration: underline; }
A.urls       { color: #0A68B6; text-decoration: none;      }
A.urls:hover { color: #6699cc; text-decoration: underline; }
A.tags       { color: #008080; text-decoration: none;      }
A.tags:hover { color: #6699cc; text-decoration: underline; }



table.pagetable td
{
	padding: 3px;
}

table.datatable
{
	width: 100%;
	font-size: 12px;
	font-family: Verdana;
}

table.datatable tr th
{
	padding: 2px;
	border-bottom:1px solid black;
	text-align: left;
}

table.datatable tr td
{
	padding: 2px;
	border-bottom: 1px solid white;
	vertical-align: top;
}

table.datatable tr.odd
{
	background-color: #7FFFD4;
}

table.datatable tr.even
{
	background-color: #F0F0F0;
}

table.datatable tr.blank
{
	background-color: #FFFFFF;
}
