/* Copyright 2011-2016 Viktor Szakats (vszakats.net/harbour) */

#if !( defined( OS2 ) || defined( __OS2__ ) || defined( OS_2 ) )

#include "hbver.h"

#if defined( _HB_INCLUDE_ICON ) && \
    ! defined( __BORLANDC__ ) && ! defined( UNDER_CE )
1 ICON DISCARDABLE "../package/harbour.ico"
#endif

#define HB_MACRO2STRING( macro )   HB_MACRO2STRING_( macro )
#define HB_MACRO2STRING_( macro )  #macro

#define HB_VER_PROD                HB_VER_MAJOR,HB_VER_MINOR,HB_VER_RELEASE,0
#define HB_VER_PROD_STR            HB_MACRO2STRING( HB_VER_MAJOR ) "." HB_MACRO2STRING( HB_VER_MINOR ) "." HB_MACRO2STRING( HB_VER_RELEASE )
#define HB_VER_FILE                HB_VER_PROD
#define HB_VER_FILE_STR            HB_VER_PROD_STR

#define HB_NAME                    "Harbour"

/* Version info */

#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION    HB_VER_FILE
PRODUCTVERSION HB_VER_PROD
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      0
FILEOS         VOS__WINDOWS32
FILETYPE       VFT_APP
BEGIN
   BLOCK "StringFileInfo"
   BEGIN
      BLOCK "040904B0"  /* LANGUAGE: US English (0x0409), ENCODING: Unicode (1200/0x04B0) */
      BEGIN
         VALUE "Comments",         "See LICENSE.txt for licensing terms." "\0"
         VALUE "CompanyName",      HB_NAME "\0"
         VALUE "FileDescription",  HB_NAME "\0"
         VALUE "FileVersion",      HB_VER_FILE_STR HB_VER_STATUS "\0"
         VALUE "LegalCopyright",   "Copyright © 1999-2016 (see application banner)" "\0"
         VALUE "ProductName",      HB_NAME "\0"
         VALUE "ProductVersion",   HB_VER_PROD_STR HB_VER_STATUS "\0"
      END
   END
   BLOCK "VarFileInfo"
   BEGIN
      VALUE "Translation", 0x0409, 0x04B0  /* LANGUAGE: US English (0x0409), ENCODING: Unicode (1200/0x04B0) */
   END
END

/* Manifest */

/* String escaping rules:
      https://msdn.microsoft.com/en-us/library/windows/desktop/aa381050.aspx */

#ifndef CREATEPROCESS_MANIFEST_RESOURCE_ID
#define CREATEPROCESS_MANIFEST_RESOURCE_ID  1
#endif
#ifndef RT_MANIFEST
#define RT_MANIFEST  24
#endif

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST
BEGIN
   "<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?>"
   "<assembly xmlns=""urn:schemas-microsoft-com:asm.v1"" manifestVersion=""1.0"">"
      "<assemblyIdentity name=""" HB_NAME """ version=""" HB_VER_PROD_STR ".0"" type=""win32""/>"
      "<trustInfo xmlns=""urn:schemas-microsoft-com:asm.v3"">"
         "<security>"
            "<requestedPrivileges>"
               "<requestedExecutionLevel level=""asInvoker"" uiAccess=""false""/>"
            "</requestedPrivileges>"
         "</security>"
      "</trustInfo>"
      "<dependency>"
         "<dependentAssembly>"
            "<assemblyIdentity name=""Microsoft.Windows.Common-Controls"" version=""6.0.0.0"" type=""win32"" processorArchitecture=""*"" publicKeyToken=""6595b64144ccf1df""/>"
         "</dependentAssembly>"
      "</dependency>"
      "<compatibility xmlns=""urn:schemas-microsoft-com:compatibility.v1"">"
         "<application>"
            "<supportedOS Id=""{e2011457-1546-43c5-a5fe-008deee3d3f0}""/><!-- Vista -->"
            "<supportedOS Id=""{35138b9a-5d96-4fbd-8e2d-a2440225f93a}""/><!-- 7 -->"
            "<supportedOS Id=""{4a2f28e3-53b9-4441-ba9c-d69d4a4a6e38}""/><!-- 8 -->"
            "<supportedOS Id=""{1f676c76-80e1-4239-95bb-83d0f6d0da78}""/><!-- 8.1 -->"
            "<supportedOS Id=""{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}""/><!-- 10 -->"
         "</application>"
      "</compatibility>"
   "</assembly>"
END

#endif
